header {
  .toolbar {
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .controls {
      display: flex;
      align-items: center;
      position: relative;

      .export {
        cursor: pointer;
        margin-left: 24px;

        &.disabled {
          pointer-events: none;
          opacity: 0.6;
        }
      }

      .warning {
        position: absolute;
        font-size: 12px;
        left: 16px;
        bottom: -8px;

        svg {
          margin-right: 4px;
        }
      }
    }
  }
}