header {
  .toolbar {
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .controls {
      display: flex;
      align-items: center;
      position: relative;

      label {
        margin-right: 24px;
      }

      .export {
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          opacity: 0.6;
        }
      }

      .download-progress {
        color: $font-color-light-mid-opacity;
      }

      .warning {
        position: absolute;
        font-size: 12px;
        left: 16px;
        bottom: -8px;

        svg {
          margin-right: 4px;
        }
      }
    }
  }
}