$font-color-dark: #161513;
$default-font-color-mid-opacity: rgba(22, 21, 19, 0.6);
$default-font-color-low-opacity: rgba(22, 21, 19, 0.3);

$font-color-light: #FCFBFA;
$font-color-light-mid-opacity: rgba(252, 251, 250, 0.6);
$font-color-light-low-opacity: rgba(252, 251, 250, 0.3);