.content-wrapper {
  padding: 32px;
}

.content {
  &.export {
    //max-width: 595.28px;
  }

  .avatar {
    width: 128px;
    height: 128px;
  }

  .links {
    display: flex;
    > :not(:last-child) {
      margin-right: 16px;
    }
  }
}