.content-wrapper {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.content {
  display: grid;

  &.export {
    max-width: 1191px;
    min-height: 6736px; //page * 1684

    .avatar {
      width: 96px;
      height: 96px;
    }

    .links {
      flex-direction: column;

      a {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        display: flex;
        align-items: center;

        svg {
          width: 1em;
        }

        label {
          margin-left: 8px;
          font-size: 11px;
          cursor: pointer;
        }
      }
    }
  }

  .avatar {
    width: 128px;
    height: 128px;
  }

  .contacts {
    display: flex;
    flex-direction: column;

    a {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      display: flex;
      align-items: center;

      label {
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }

  .links {
    display: flex;
    > :not(:last-child) {
      margin-right: 16px;
    }
  }

  .accordion-container {
    margin-bottom: 16px;
    &::before {
      content: unset;
    }

    .accordion-summary {
      .summary {
        width: 100%;
      }
    }

    .accordion-details {
      display: flex;
      flex-direction: column;
      padding: 16px;

      border-top: 1px solid $default-font-color-low-opacity;
    }

    &.export {
      box-shadow: unset;

      .accordion-summary, .accordion-details {
        padding: 0;
      }
    }
  }
}