.content-wrapper {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.content {
  display: grid;

  &.export {
    max-width: 1191px;
    min-height: 6736px; //page * 1684

    .avatar {
      width: 96px;
      height: 96px;
    }
  }

  .avatar {
    width: 128px;
    height: 128px;
  }

  .links {
    display: flex;
    > :not(:last-child) {
      margin-right: 16px;
    }
  }

  .accordion-container {
    margin-bottom: 16px;
    &::before {
      content: unset;
    }

    .accordion-summary {
      .summary {
        width: 100%;
      }
    }

    .accordion-details {
      display: flex;
      flex-direction: column;
      padding: 16px;

      border-top: 1px solid $default-font-color-low-opacity;
    }

    &.export {
      box-shadow: unset;

      .accordion-summary, .accordion-details {
        padding: 0;
      }
    }
  }
}